body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
#main-wrapper {
    position: relative;
    width: 800px;
    margin: auto;
    margin-top: 100px;
}
.image {
    object-fit: cover;
    object-position: 50% 50%;
    width: 800px;
    height: 600px;

    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 8px #888;
}
.text {
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}
#button-wrapper {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 105%;
    text-align: center;
}
#next-button {
    position: relative;
    width: 150px;
    margin: auto;
    padding: 10px;
    border-radius: 7px;
    background-color: white;
    box-shadow: 5px 5px 8px #888;
}
#history {
    position: absolute;
    bottom: 0;
    left: 0;
}
.history-wrapper {
    transform: scale(.2);
    margin: -480px -320px -480px -320px;
}
#source {
    position: absolute;
    text-decoration: none;
    top: 0;
    left: 0;
    right: 0;
    text-align:center;
    color: black;
    font-size: 14pt;
}
